@model IEnumerable<Order>
<div class="table">
    <table>
        <thead>
            <tr>
                <th>Ngày đặt hàng</th>
                <th>Tổng giá trị</th>
                <th>Mã nhà cung cấp</th>
                <th>Tình trạng đơn hàng</th>
                <th>Tên chức năng</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in @Model)
            {
                <tr>
                    <td>@item.OrderDate.ToShortDateString()</td>
                    <td>@item.TotalAmount</td>
                    <td>@item.Supplier.SupplierName</td>
                    <td>@item.OrderStatus</td>
                    <td>Chức năng</td>
                    <td>
                        <a asp-action="Upsert" asp-route-id="@item.OrderId">Edit</a> |
                        <a href="#">Details</a> |
                        <a href="#" onclick="confirmDelete(@item.OrderId, $(this))">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <a asp-controller="Order" asp-action="Upsert" class="btn btn-primary">Thêm mới</a>
</div>

<script>
    function confirmDelete(id, row) {
        if (confirm("Ban co chac chan xoa san pham co id la " + id +"?")) {
            xoa(id, $(row))
        }
    }
    function xoa(idx, row) {
        $.ajax({
            url: `Order/Delete`,
            data: { id: idx },
            type: "POST",
            success: function (data) {
                row.closest("tr").remove();
            }
        })
    }
</script>